header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  padding: 0 2rem;
  box-sizing: border-box;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: min(100vw, 1264px);
}

.header-content .left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-content .right {
  display: flex;
  align-items: center;
}

menu {
  display: flex;
  gap: 1rem;
}

main {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 10rem);
}

.main-content {
  width: min(100vw, 1264px);
  padding: 0 2rem;
  box-sizing: border-box;
}
