header {
  background: #322605;
  color: #fff;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
}

menu a {
  text-decoration: none;
  color: #fff;
}

menu a:hover {
  text-decoration: underline;
}

main {
  background: #e0a40c;
}

.main-content {
  background: #eaece4;
  color: #284329;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.apa {
  width: 700px;
}
